<div>
  <h1>{{car.make}} {{car.model}}</h1>
  Rocznik: {{car.year}}
  <br>
  Ilość miejsc: {{car.seats}}
  <br>
  Typ nadwozia: {{car.body}}
  <br>
  Silnik: {{car.engine}}
  <br>
  Cena za dzień: {{car.price}} zł
</div>

<button type="button" (click)="toggleEdit()" class="btn btn-warning">Edytuj dane auta</button>
<button type="button" (click)="deleteCar(car._id)" class="btn btn-danger">Usuń auto z bazy danych</button>
<button type="button" (click)="toggleHistory()" class="btn btn-primary">Pokaż wypożyczenia tego auta</button>
<br>

<!-- Start of add car form -->
<app-add-rental [car]="car"></app-add-rental>
<!-- End of add car form / start of edit car form -->


<app-edit-car *ngIf="editCar"></app-edit-car>

<app-car-history *ngIf="showHistory"></app-car-history>
