<div>
  <h1>{{car.make}} {{car.model}}</h1>
  Rocznik: {{car.year}}
  <br>
  Ilość miejsc: {{car.seats}}
  <br>
  Typ nadwozia: {{car.body}}
  <br>
  Silnik: {{car.engine}}
  <br>
  Cena za dzień: {{car.price}} zł
</div>

<button type="button" (click)="toggleEdit()" class="btn btn-warning">Edytuj dane auta</button>
<button type="button" (click)="deleteCar(car._id)" class="btn btn-danger">Usuń auto z bazy danych</button>
<button type="button" (click)="toggleHistory()" class="btn btn-primary">Pokaż wypożyczenia tego auta</button>
<br>

<!-- Start of add car form -->

<div class="form-group">
  <label for="startDate">Data wypozyczenia</label>
  <input type="datetime-local" name="bdaytime" class="form-control half-width" [(ngModel)]="startDate">
</div>

<div class="form-group">
  <label for="make">Data oddania</label>
  <input type="datetime-local" name="bdaytime" class="form-control half-width" [(ngModel)]="endDate">
</div>

<button type="button" (click)="RentCar(car._id)" class="btn btn-success">Wypożycz auto!</button>

<!-- End of add car form / start of edit car form -->

<div *ngIf="editCar">
<app-edit-car></app-edit-car>
</div>

<app-car-history *ngIf="showHistory"></app-car-history>
