<h1>Car list</h1>
Szukajka:
<form (ngSubmit)="getSearch()" >
  <input type="text" name="carSearch" class="form-control" [(ngModel)]="carSearch" placeholder="Marka (Ford, Audi...)">
  <button type="submit" class="btn btn-success">Szukaj</button>
</form>



<table class="table">
  <thead>
    <tr>
      <th>Marka</th>
      <th>Model</th>
      <th>Rocznik</th>
      <th>Szczegóły</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.make}}</td>
      <td>{{car.model}}</td>
      <td>{{car.year}}</td>
      <td><a [routerLink]="['/car/',car._id]">Click!</a></td>
    </tr>
  </tbody>
</table>
