<h1>Moje wypożyczenia</h1>
<a class="link" (click)="getAllRentals()">Wszystkie</a> |
<a class="link" (click)="getPresentRentals()">Aktualne</a> |
<a class="link" (click)="getPastRentals()">Historyczne</a>
<table class="table">
  <thead>
  <tr>
    <th>Marka</th>
    <th>Model</th>
    <th>Data wynajęcia</th>
    <th>Data Zwrotu</th>
    <th>Cena</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of bufRentals">
    <td>{{element.car.make}}</td>
    <td>{{element.car.model}}</td>
    <td>{{element.rental.startDate}}</td>
    <td>{{element.rental.endDate}}</td>
    <td>{{element.payment}} PLN</td>
  </tr>
  </tbody>
</table>

