<h1>Moje wypożyczenia</h1>
<a class="link" (click)="getAllRentals()">Wszystkie</a> |
<a class="link" (click)="getPresentRentals()">Aktywne</a> |
<a class="link" (click)="getPastRentals()">Anulowane</a>
<table class="table">
  <thead>
  <tr>
    <th>Marka</th>
    <th>Model</th>
    <th>Data wynajęcia</th>
    <th>Data Zwrotu</th>
    <th>Cena</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of bufRentals">
    <td>{{element.carId.make}}</td>
    <td>{{element.carId.model}}</td>
    <td>{{element.startDate}}</td>
    <td>{{element.endDate}}</td>
    <td>{{element.payment*(1-element.discount)}} PLN (-{{element.discount*100}}%)</td>
    <td>
      <button class="btn btn-success" *ngIf="element.status === 'Oczekujące' && ifReady(element.startDate)" (click)="updateToActive(element._id, element)"> Odbierz </button>
    </td>
    <td>
      <button class="btn btn-danger" *ngIf="element.status === 'Oczekujące'" (click)="updateToCanceled(element._id, element)"> Anuluj </button>
      <button class="btn btn-primary" *ngIf="element.status === 'Aktywne'" (click)="updateToFinished(element._id, element)" > Zwróć </button>
    </td>
    <td>
      <div class="blue" *ngIf="element.status === 'Oczekujące' || element.status === 'Zakończone'" >{{element.status}}</div>
      <div class="green" *ngIf="element.status === 'Aktywne'" >{{element.status}}</div>
      <div class="red" *ngIf="element.status === 'Anulowano'" >{{element.status}}</div>
    </td>
  </tr>
  </tbody>
</table>

