<h1>Samochody:</h1>
<p id="par">
  
</p>
<button type="button" class="btn btn-success" (click)="toggleCars()">Zmien dane</button>

<h1>Nadwozia:</h1>
<div id="para">
  
</div>
<button type="button" class="btn btn-danger" (click)="toggleBody()">Zmień dane</button>


<h1>Paliwo:</h1>
<div id="parb">  
</div>
<button type="button" class="btn btn-success" (click)="toggleEngine()">Zmień dane</button>

<h1>Ranking użytkowników:</h1>
<div id="userRank"></div>


<!-- <button type="button" class="btn btn-danger" (click)="sort()">Sort</button>
<button type="button" class="btn btn-danger" (click)="showBody()">BodyData </button>
<button type="button" (click)="delete()">Delete</button> -->

