<div class="container">
  <div class="jumbotron">
    <h2>Gdynia Car Rent</h2>
    <p>Najlepsze auta w najlepszych cenach</p>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['']">GdyniaRent</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/cars']">Lista Aut</a></li>
        <li><a [routerLink]="['/users']">Lista użytkowników</a></li>
        <li><a [routerLink]="['/add-car']">Dodaj Auto</a></li>
        <li><a [routerLink]="['/stats']">Statystyki</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/myRentals']"><span class="glyphicon glyphicon-log-in"></span> Moje wypożyczenia</a></li>
      </ul>
    </div>
  </nav>
</div>
