
<div class="form-group">
  <label for="startDate">Data wypozyczenia</label>
  <input type="datetime-local" name="bdaytime" class="form-control half-width" [(ngModel)]="startDate">
</div>

<div class="form-group">
  <label for="make">Data oddania</label>
  <input type="datetime-local" name="bdaytime" class="form-control half-width" [(ngModel)]="endDate">
</div>

<button type="button" (click)="toggleUsersAddComponent()" class="btn btn-primary">Nowy użytkownik</button>
<button type="button" (click)="togglePickUserComponent()" class="btn btn-primary">Wybierz użytkownika</button>

<app-add-user *ngIf="newUser"></app-add-user>
<app-pick-user *ngIf="pickUser"></app-pick-user>
<b><p *ngIf="(discount>0)">Zniżka {{100*discount}}% dla stałego klienta!</p></b>

<br /><br />

<button type="button" (click)="RentCar(car._id)" class="btn btn-success">Wypożycz auto!</button>